<header class="col-sm-12 header">
		<p class="header-text">
			<img class="back" src="img/next.svg"><span> Profile</span>	
		</p>
</header>
<div class="hide">
	<img src="{{ vm.img }}" class="selfie">
	<img src="{{ vm.img }}" class="selfie-front">
</div>
<div class="edit hide">
	<img class="pen" src="img/pen.svg">
</div>
<label class="err" ng-model="vm.msg"></label>
<div class="col-sm-12 form" id="form" style="background: #f5f5f5;">
	
      <center>
      	 <dl>
              <dd>
					<div class="input-group input-group1 input col-sm-12">
				      <input type="text" ng-model="vm.attendee.full_name" class="form-control"  placeholder="Full Name">
				    </div>
					<div class="input-group input-group1 input col-sm-12">
					    <input type="phone" ng-model="vm.attendee.contact_number" class="form-control"  placeholder="Contact Number">
					</div>
					<div class="input-group input-group1 input col-sm-12">
					    <input type="email" ng-model="vm.attendee.email" class="form-control"  placeholder="Email Address">
					</div>
					<div class="input-group input-group1 input col-sm-12">
					    <input type="text" ng-model="vm.attendee.company_name" class="form-control"  placeholder="Company Name">
					</div>
					<div class="input-group input-group1 input col-sm-12">
					    <input type="text" ng-model="vm.attendee.designation" class="form-control"  placeholder="Designation">
					</div>
					<div class="input-group input-group1 input col-sm-12">
					    <input type="text" ng-model="vm.attendee.arrival_date" class="form-control "  placeholder="MMM-DD-YYYY">
					</div>
					<div class="input-group input-group1 input col-sm-12">
					    <input type="text" ng-model="vm.attendee.departure_date" class="form-control"  placeholder="MMM-DD-YYYY">
					</div>
              </dd>
              
        </dl>
      </center>
    
	<center>
		<button class="btn btn-default bttn" ng-click="vm.next()">Next
		</button>
	</center>
</div>