<header class="col-sm-12 header">
		<p class="header-text">
			<img class="back" src="img/next.svg"><span> Generic Questions</span>	
		</p>
</header>
<div class="col-sm-12 form generic" id="form">
	
      <center>
      	 <dl>
              <dd>
					<div class="input-group input col-sm-12 question">
						<h4 class="mcq1">+ How long have you been associated with Danaher Corporation?</h4>
						<div class="col-sm-12 col-xs-12">
					    	<input type="radio" value=" 0 - 1 year" name="how_long_have_you_been_associated_with_danaher_corporation" ng-model="vm.attendee.how_long_have_you_been_associated_with_danaher_corporation"> 0 - 1 year</div>
						<div class="col-sm-12 col-xs-12">
					     	<input type="radio" value=" 2 - 5 years" name="how_long_have_you_been_associated_with_danaher_corporation" ng-model="vm.attendee.how_long_have_you_been_associated_with_danaher_corporation"> 2 - 5 years</div>
						<div class="col-sm-12 col-xs-12">
							<input type="radio" value=" 5 - 10 years" name="how_long_have_you_been_associated_with_danaher_corporation" ng-model="vm.attendee.how_long_have_you_been_associated_with_danaher_corporation"> 5 - 10 years
						</div>
						<div class="col-sm-12 col-xs-12">
							<input type="radio" value=" 10+ years" name="how_long_have_you_been_associated_with_danaher_corporation" ng-model="vm.attendee.how_long_have_you_been_associated_with_danaher_corporation"> 10+ years
						</div>    
					</div>
					<div class="input-group input col-sm-12 question">
						<h4 class="mcq2">+ You associate Danaher with</h4>
						<div class="col-sm-12 col-xs-12">
					    	<input type="radio" name="you_associate_danaher_with" value="Customer" ng-model="vm.attendee.you_associate_danaher_with"> Customer</div>
						<div class="col-sm-12 col-xs-12">
					     	<input type="radio" name="you_associate_danaher_with" value="Winning Team" ng-model="vm.attendee.you_associate_danaher_with"> Winning Team</div>
						<div class="col-sm-12 col-xs-12">
							<input type="radio" name="you_associate_danaher_with" value="Innovation" ng-model="vm.attendee.you_associate_danaher_with"> Innovation
						</div>
						<div class="col-sm-12 col-xs-12">
							<input type="radio" name="you_associate_danaher_with" value="Kaizen" ng-model="vm.attendee.you_associate_danaher_with"> Kaizen
						</div>    
					</div>
					<div class="input-group input col-sm-12 question">
						<h4 class="mcq3">+ What does DLC 2016 mean to you?</h4>
						<div class="col-sm-12 col-xs-12">
					    	<input type="radio" name="what_does_dlc_2016_mean_to_you" value="Best Practice Sharing" ng-model="vm.attendee.what_does_dlc_2016_mean_to_you"> Best Practice Sharing </div>
						<div class="col-sm-12 col-xs-12">
					     	<input type="radio" name="what_does_dlc_2016_mean_to_you" value="Connecting with Leadership" ng-model="vm.attendee.what_does_dlc_2016_mean_to_you">Connecting with Leadership</div>
						<div class="col-sm-12 col-xs-12">
							<input type="radio" name="what_does_dlc_2016_mean_to_you" value="Learning" ng-model="vm.attendee.what_does_dlc_2016_mean_to_you"> Learning
						</div>
						<div class="col-sm-12 col-xs-12">
							<input type="radio" name="what_does_dlc_2016_mean_to_you" value="Belonging to One Team" ng-model="vm.attendee.what_does_dlc_2016_mean_to_you"> Belonging to One Team
						</div>    
					</div>
					<div class="input-group input col-sm-12 question">
						<h4 class="mcq4">+ Age Profile?</h4>
						<div class="col-sm-6 col-xs-6">
					    	<input type="radio" name="age_profile" value=" Below 35" ng-model="vm.attendee.age_profile"> Below 35</div>
						<div class="col-sm-6 col-xs-6">
					     	<input type="radio" name="age_profile" value="  35 to 40" ng-model="vm.attendee.age_profile">  35 to 40</div>
						<div class="col-sm-6 col-xs-6">
							<input type="radio" name="age_profile" value=" 40+" ng-model="vm.attendee.age_profile"> 40+
						</div>   
					</div>
              </dd>
              
        </dl>
      </center>
    
	<center>
		<button class="btn btn-default bttn" ng-click="vm.next()">Update
		</button>
	</center>
</div>