/*@import url(https://fonts.googleapis.com/css?family=Raleway);*/
@font-face {
	src:url('../font/raleway.woff') format('woff');
}
.body {
	font-family: 'Raleway', sans-serif;
	background: radial-gradient(circle at top right, #fff, #f3f3f3 , #fff);	
}
.row {
	padding: 0;
	margin: 0;
}
.main {
	height: 100%;
	width: 100%
}
.header, .logo, .Loginform, .signup {
	padding-right: 0 !important; 
	padding-left: 0 !important;
}
.logo {margin-top: 10%;}

.Loginform {
	/*padding-top: 7%;*/
	margin-bottom: 0;

}
.form-control {
	height: 40px;
	background: transparent !important;
	border-color:  #349CCF;
	border-radius: 5px;
	border-left-color: transparent;
	-webkit-box-shadow: none;
    		box-shadow: none;
}
.input {
	margin: 2% 12% 5% 12%;
	box-shadow: none;
	background: transparent !important;
	border-radius: 0;
}
.input-group-addon {
	background: transparent;
	border-color:  #349CCF;
	box-shadow: none;
	border-radius: 5px;
	-webkit-box-shadow: none;
    		box-shadow: none;
}
.form-control:placeholder-shown {
  letter-spacing: 2px;
  font-size: 110%;
}
.forgot-pswd{
	margin-left: 14%;
	color: #b8b8b8;
	font-size: 100%;
	letter-spacing: 1.5px;
}

.signin
{
	margin: 4% 12% 0 12%;
	width: 76%;
	height: 40px;
	font-size: 140%;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.5px;
	background: #349CCF;
	color: #fff;
	border-radius: 5px;
}
.signup {
	margin: 18% 0 5% 7%;
	font-size: 160%;
	letter-spacing: 1.5px;
}
textarea:focus, input:focus, .uneditable-input:focus {  
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.075) !important;
    outline: 0 none !important;
}